// naming componentName - element - property

// main colors 
$DarkColor:#86ba09;
$SecondaryColor:#ffaf00;
$PrimaryColor  :#000;
$WhiteColor:white;

$transition:all 1s ease-in-out;

// for upper header
$UpperHeaderFontSize :.77em;
$UpperHeaderMargin:0;
$UpperHeaderPadding:0;
$UpperHeaderFontScale:1.3;

// for Logo
$LogoImgHeight:110px;
$LogoImgWidth:110px;
$LogoPFont:bolder 2.5em 'Script MT', 'Franklin Gothic Medium';
$LogoPTransition:all 1.5s ease-in-out;
$LogoATextdecoration:none;

//for lower header
$LowerHeaderRightMargin:auto;
$LowerHeaderRightDisplay:flex;
$LowerHeaderRightJustifycontent:center;

//** for navbar lower header component
$LowerHeaderNavTransition:all 1s ease-in-out;
$LowerHeaderNavColor:#121212;
$LowerHeaderNavFont:600 16px "Roboto Slab",'Lucida Sans Typewriter',serif;


//**for right side lower header commponent
$LowerHeaderRightIconCursor:pointer;
$LowerHeaderRightModalBKColor:transparent;
$LowerHeaderRightModalBKBorder:none;
$LowerHeaderRightModalBKCloseFont:4em;
$LowerHeaderRightModalBKNone:none;
$LowerHeaderRightModalBKMargin:0;
$LowerHeaderRightModalBKBorderRaduis:0;
$LowerHeaderRightModalBKBoxShadow:inset 0 -1px 0 $WhiteColor;
$LowerHeaderRightModalBKBorderTop: 1px solid $WhiteColor;


















$colorWhite  :white;
$colorOrange :#ffb100;
$colorDark   :#86ba09;
$colorBlack  :#000;


//body edit 
$minHeightBody :551px;
$backgroundColorBody: rgb(251, 251, 250);

//main font 
$fonts : "Segoe Script", Arial, Helvetica, sans-serif;

// Footer & Upper Header variables
$textColor : $colorWhite;
$backgroundColor : $colorDark;
$hovercolor : $colorOrange;
$padding : 10px;

//lower header
$hovercolor : $colorOrange;
$colorText  : $colorBlack;

//logo
$height:65px;
$width:65px;
$fontWeight:bold;
$fontSize:20px; 
//transition
a{
    transition: all .5s ;
}

//form border
$borderWidth : 2px;
$borderType : solid;
$border-radius:10px;
$box-shadow : 10px;
$formpadding :40px;
$formmargin :40px;

// required-field  for form 
$content : '*';
$marginL :.25rem;
$colorRed : red;

//Admin main page
$mainMargin : 60px 10px;

// for image in add product
$heightImg: 150px;
$widthImg : 200px;
$displayImg : block;

//text area
$overflowTextarea : hidden;
$resizeTextarea : none; 

//mainDataForm
$marginMaindata : 30px 0;
$box-colorMaindata : lightgrey;
$box-radiusMaindata : 3px;

$text-shadowh3 :lightpink;

// category component 
//category margin
$marginCategory : 15px;






// #app {
//   font-family: Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
// }
