// naming componentName - element - property

// main colors 
$DarkColor:#86ba09;
$SecondaryColor:#ffaf00;
$PrimaryColor  :#000;
$WhiteColor:white;
$LightGrayColor:#f5f5f5;
$DarkGrayColor:#666d79;

$transition:all 1s ease-in-out;
$fonts : "Roboto Slab",'Lucida Sans Typewriter',serif;

// for Logo
$LogoImgHeight:110px;
$LogoImgWidth:110px;
$LogoPFont:bolder 2.5em 'Script MT', 'Franklin Gothic Medium';
$LogoPTransition:all 1.5s ease-in-out;
$LogoATextdecoration:none;



@import './AllVariable/headerVariables'
       ,'./AllVariable/homeVariable';




$colorWhite  :white;
$colorOrange :#ffb100;
$colorDark   :#86ba09;
$colorBlack  :#000;


//body edit 
$minHeightBody :551px;
$backgroundColorBody: rgb(251, 251, 250);

//main font 
// $fonts : "Segoe Script", Arial, Helvetica, sans-serif;

// Footer & Upper Header variables
$textColor : $colorWhite;
$backgroundColor : $colorDark;
$hovercolor : $colorOrange;
$padding : 10px;

//lower header
$hovercolor : $colorOrange;
$colorText  : $colorBlack;

//logo
$height:65px;
$width:65px;
$fontWeight:bold;
$fontSize:20px; 
//transition
a{
    transition: all .5s ;
}

//form border
$borderWidth : 2px;
$borderType : solid;
$border-radius:10px;
$box-shadow : 10px;
$formpadding :40px;
$formmargin :40px;

// required-field  for form 
$content : '*';
$marginL :.25rem;
$colorRed : red;

//Admin main page
$mainMargin : 60px 10px;

// for image in add product
$heightImg: 150px;
$widthImg : 200px;
$displayImg : block;

//text area
$overflowTextarea : hidden;
$resizeTextarea : none; 

//mainDataForm
$marginMaindata : 30px 0;
$box-colorMaindata : lightgrey;
$box-radiusMaindata : 3px;

$text-shadowh3 :lightpink;

// category component 
//category margin
$marginCategory : 15px;






// #app {
//   font-family: Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
// }
